[user]
	name = Syd Chen
	email = hello.sydd@gmail.com
[color]
	ui = true
[alias]
    br = branch
	st = status
	ci = commit
    br = branch
	co = checkout
    df = diff
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
[push]
    default = current
[core]
	editor = /usr/bin/vim
